{% extends 'base.html.twig' %}

{% block title %}Eleve index{% endblock %}

{% block body %}
    <h1>Eleve index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eleve in eleves %}
            <tr>
                <td>{{ eleve.id }}</td>
                <td>{{ eleve.email }}</td>
                <td>{{ eleve.roles ? eleve.roles|json_encode : '' }}</td>
                <td>{{ eleve.password }}</td>
                <td>
                    <a href="{{ path('app_eleve_show', {'id': eleve.id}) }}">show</a>
                    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_eleve_new') }}">Create new</a>
{% endblock %}
